/* ================= ROOT ================= */

.container {
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    padding: 1rem;
}

/* ================= CARD ================= */

.card {
    width: 100%;
    max-width: 900px;
    height: 520px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--color-card);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.17);
}

/* ================= LEFT ================= */

.left {
    width: 50%;
    background-color: var(--color-muted-swatch);
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ================= RIGHT ================= */

.right {
    width: 50%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.header {
    margin-bottom: 1rem;
}

.header h1 {
    margin: 0 ;
    font-size: 2rem;
}

.header p {
    margin-top: .3rem;
    color: var(--color-grey-600);
}

/* ================= BUTTONS ================= */

.primaryBtn {
    height: 44px;
    border-radius: .5rem;
    background-color: var(--color-primary);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

/* ================= FORM ================= */

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputGroup label {
    font-size: .85rem;
    font-weight: 600;
    margin-bottom: .1rem;
    display: block;
}

.inputGroup input {
    width: 100%;
    height: 44px;
    padding: 0 1rem;
    border-radius: .5rem;
    border: 1px solid var(--color-card-border);
    font-size: 1rem;
}

.inputGroup input:focus {
    outline: none;
    border-color: var(--color-primary);
}

/* ================= FORGOT ================= */

.forgot {
    text-align: right;
}

.forgot a {
    font-size: .85rem;
    color: var(--color-primary);
    text-decoration: none;
}

/* ================= SIGN UP ================= */

.signUP{
    text-align: center;
    color: var(--color-grey-600);
}

.signUP a{
    cursor: pointer;
    text-decoration: none;
    font-size: 0.85rem;
    color: var(--color-primary);
}

/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        height: auto;
    }

    .left {
        display: none;
    }

    .right {
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    .card{
        border: 1px solid var(--color-card-border);
    }
}