.container{
    position: relative;
    width: 100%;
    padding-inline: 5%;
}

.container main{
    margin-top: 10%;
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: space-evenly;
    align-items: center;
    padding-bottom: 5rem;
}