.container{
    position: relative;
    width: 100%;
    padding-inline: 5%;
}

.container main{
    margin-top: 10%;
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 280px));
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.noItemsContainer{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.refreshBtn{
    padding: 0.4rem 1.5rem;
    font-size: 0.8rem;
    color: #fff;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.refreshBtn svg{
    width: 1rem;
    height: 1rem;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}