.container{
    position: relative;
    width: 100%;
    padding-inline: 5%;
}

.container main{
    margin-top: 10%;
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 280px));
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.noItemsContainer{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.refreshBtn{
    padding: 0.4rem 1.5rem;
    font-size: 0.8rem;
    color: #fff;
    background-color: var(--color-primary);
}