/* ==================================== ROOT ======================================*/

.container{
    position: fixed;
    bottom: 3%;
    left: 50%;
    translate: -50%;
    min-width: 280px;
    border-radius: 7px;
    background-color: var(--color-bg);
    padding: 0.5rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-card-border-swatch);
    color: var(--color-muted);
    box-shadow: 0 0 2px var(--color-grey-100);
    cursor: default;

    transition:all 0.5s ease;
}

.container:hover{
    min-width: 380px;
    padding: 1rem;
    font-size: 1rem;
}