/* ==================================== ROOT ======================================*/

.container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 0.8rem 2rem 0.5rem 2rem;
    background-color: var(--color-card);
    border-bottom: 1px solid var(--color-card-border);
    display: flex;
    align-items: center;
    box-shadow: 0 0 3px var(--color-muted-swatch);
}

.container h1{
    margin: 0 1rem 0 0;
    padding: 0;
    font-size: 2.5rem;
}

/* ==================================== SEARCH BAR ======================================*/

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: 2px solid var(--color-muted-swatch);
    border-radius: 999px;
    scale: 0.8;

    transition: all 0.25s ease;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding: 0 2rem;
    border-radius: 30px;
    width: 20em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.search__input:focus {
    outline: none;
}

.search__input:focus ~ .search__button svg{
    color: var(--color-text);
}

.search__input:focus~.search {
    border: 1px solid var(--color-text);
}

.search:focus-within {
    border-color: var(--color-text);
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.search__button {
    border: none;
    margin-top: .1em;
    background-color: transparent;
    border-radius: 999px;
}

.search__button:hover {
    cursor: pointer;
}

.search__button svg{
    color: var(--color-muted-swatch);
    transition: all 0.25s ease;
}

/* ==================================== PROFILE ======================================*/

.profile{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 0.5rem;
    cursor: pointer;
}

.profile svg{
    stroke-width: 1px;
}